@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$main-color: #ffffff;
$footer-color: #016d8c8c;
$text-color: #000000;
$text1-color: #0080b7;
$second-pg-bg: #55CAEBB2;