@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$main-color: #ffffff;
$text1-color: #0080b7;
$text-color: #000000;
$footer-color: #016d8c8c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  position: relative;
}

.header__block {
  position: absolute;
  top: 70px;
  right: 5%;
  display: flex;
  width: 654px;
  height: 29px;
  justify-content: space-between;
  align-items: center;
  color: $main-color;
  z-index: 2;
  list-style: none;
  font-weight: 600;
  font-size: 24px;
  cursor: url("/img/leaf.png"), auto;
}

.burger_icon {
  display: none;
}

.main {
  width: 100%;
  &__slogan {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    background: linear-gradient(
      213.38deg,
      rgba(0, 164, 227, 0.86) 5.39%,
      rgba(125, 187, 0, 0.86) 99.09%
    );
    overflow: hidden;
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 65px;
    max-width: 90%;
    height: auto;
  }
  &__img_mobile {
    display: none;
  }
  &__logo {
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 2;
  }
  &__logo_mobile {
    display: none;
  }
  &__logo_blue_line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__logo_green_line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__logo_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__name {
    padding: 385px 14px 14px 881px;
    color: $main-color;
    z-index: 2;
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    font-size: 96px;
    vertical-align: middle;
  }
  &__btn {
    border-radius: 36px;
    background-color: $main-color;
    width: 234px;
    height: 59px;
    color: $text1-color;
    border-style: none;
    margin-left: 881px;
    font-weight: 600;
    font-size: 24px;
    cursor: url("/img/leaf.png"), auto;
    position: relative;
    z-index: 3;
  }
  &__text_section {
    width: 80%;
    padding-top: 95px;
    padding-bottom: 10vh;
    margin: 0 auto;
  }
  &__title {
    width: 100%;
    max-width: 1675px;
    height: 58px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 48px;
    vertical-align: middle;
  }
  &__desc {
    width: 100%;
    max-width: 1675px;
    height: auto;
    margin-top: 27px;
    font-size: 24px;
    line-height: 48px;
    vertical-align: middle;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

.footer {
  width: 100%;
  height: auto;
  background-color: $footer-color;
  position: relative;
  &__icons {
    width: 125px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 8vh;
    &__item {
      &__img {
        cursor: url("/img/leaf.png"), auto;
      }
    }
  }
  &__text {
    width: 90%;
    max-width: 647px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 4vh;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    text-decoration-style: solid;
    color: $text-color;
    &__link {
      text-decoration: underline;
      cursor: url("/img/leaf.png"), auto;
    }
  }
}

.ellipse_left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.ellipse_right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 50vw;
  zoom: 1.2;
}
.ellipse_mob_left {
  display: none;
}
.ellipse_mob_right {
  display: none;
}

@media (max-width: 1600px) {
  .main {
    &__img {
      left: 4vw;
      zoom: 90%;
      height: auto;
    }
    &__name {
      font-size: 64px;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    &__img {
      left: 2vw;
      zoom: 80%;
      height: auto;
    }
    &__name {
      font-size: 54px;
      margin-left: -100px;
    }
    &__btn {
      width: 14vw;
      height: 50px;
      margin-left: 780px;
      font-size: 22px;
    }
    &__logo {
      zoom: 68%;
      position: absolute;
      top: 5%;
      left: 2%;
      z-index: 2;
    }
    &__logo_blue_line {
      zoom: 68%;
    }
    &__logo_green_line {
      zoom: 68%;
    }
    &__logo_bg {
      zoom: 68%;
    }
    &__slogan {
      height: 78vh;
    }
  }
}
// Tablet landscape & small laptop (≤1024px - iPad Pro, MacBook Air)
@media (max-width: 1024px) {
  .main {
    &__img {
      zoom: 60%;
    }
    &__name {
      font-size: 46px;
      margin-left: -290px;
      margin-top: -140px;
    }
    &__btn {
      width: 14vw;
      height: 50px;
      margin-left: 600px;
    }
    &__logo {
      zoom: 50%;
    }
    &__logo_blue_line {
      zoom: 50%;
    }
    &__logo_green_line {
      zoom: 50%;
    }
    &__logo_bg {
      zoom: 50%;
    }
    &__slogan {
      height: 700px;
    }
  }
  .header__block {
    position: absolute;
    top: 50px;
    width: 60vw;
    font-size: 18px;
  }
}

@media (max-width: 820px) {
  .main {
    &__img {
      zoom: 50%;
    }
    &__name {
      font-size: 34px;
      margin-left: -400px;
      margin-top: -9vh;
    }
    &__btn {
      height: 45px;
      font-size: 16px;
      margin-left: 480px;
    }
    &__logo {
      zoom: 50%;
    }
    &__logo_blue_line {
      zoom: 50%;
    }
    &__logo_green_line {
      zoom: 50%;
    }
    &__logo_bg {
      zoom: 50%;
    }
    &__slogan {
      height: 600px;
    }
  }
  .header__block {
    position: absolute;
    top: 50px;
    width: 60vw;
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .main {
    &__img {
      zoom: 40%;
    }
    &__name {
      font-size: 24px;
      margin-left: -520px;
      margin-top: -19vh;
    }
    &__btn {
      font-size: 14px;
      margin-left: 360px;
      height: 30px;
    }
    &__logo {
      zoom: 30%;
    }
    &__logo_blue_line {
      zoom: 30%;
    }
    &__logo_green_line {
      zoom: 30%;
    }
    &__logo_bg {
      zoom: 30%;
    }
    &__slogan {
      height: 500px;
    }
  }
  .header__block {
    position: absolute;
    top: 30px;
    width: 65vw;
    font-size: 12px;
  }
}

// Mobile (≤480px - phones)
@media (max-width: 480px) {
  .burger_icon {
    display: block;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 36px;
    height: auto;
    z-index: 3;
  }
  .main {
    &__slogan {
      background: linear-gradient(
        213.38deg,
        rgba(0, 164, 227, 0.86) 5.39%,
        rgba(125, 187, 0, 0.86) 99.09%
      );
    }
    &__img {
      display: none;
    }
    &__img_mobile {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 517px;
    }
    &__name {
      position: absolute;
      top: 204px;
      right: 26px;
      font-size: 40px;
      vertical-align: middle;
      height: 59px;
      padding: 0;
      margin: 0;
    }
    &__btn {
      font-size: 14px;
      margin: 0;
      position: absolute;
      top: 282px;
      right: 26px;
      height: 33px;
      width: 135px;
    }
    &__logo {
      display: none;
    }
    &__logo_mobile {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      scale: 25%;
      transform-origin: top left;
    }
    &__logo_blue_line {
      display: none;
    }
    &__logo_green_line {
      display: none;
    }
    &__logo_bg {
      display: none;
    }
    &__slogan {
      height: 852px;
    }
    &__title {
      font-size: 29px;
    }
    &__desc {
      margin-top: 0;
      &__item {
        font-size: 10px;
        line-height: 22px;
      }
    }
    &__text_section {
      padding-top: 47px;
    }
  }
  .header__block {
    display: none;
  }
  .footer {
    &__icons {
      padding-top: 31px;
    }
    &__text {
      font-size: 10px;
      margin: 0;
      padding-bottom: 15px;
    }
  }
  .ellipse {
    &_left {
      display: none;
    }
    &_right {
      display: none;
    }
    &_mob_left {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 200px;
    }
    &_mob_right {
      display: block;
      position: absolute;
      bottom: 550px;
      right: 0;
      z-index: -1;
      width: 190px;
    }
  }
}
